---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v1/bank_billets/613550
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <KOBANA_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4268b16a4e669a2e6dfa53ee6ced4c9d"
      Last-Modified:
      - Mon, 30 Oct 2023 20:47:24 GMT
      Location:
      - https://api-sandbox.kobana.com.br/api/v1/bank_billets/613550
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"id":613550,"expire_at":"2024-01-02","paid_at":null,"description":"Despesas
        do contrato 0012","status":"opened","registration_status":"confirmed","customer_person_name":"Joao
        da Silva","customer_cnpj_cpf":"34.565.715/0001-03","customer_address":"Rua
        quinhentos","customer_state":"RJ","customer_neighborhood":"Sao Francisco","customer_zipcode":"12312123","customer_address_number":"111","customer_address_complement":"Sala
        4","customer_phone_number":"2112123434","customer_email":"cliente@example.com","customer_email_cc":null,"customer_ignore_email":null,"customer_ignore_sms":null,"customer_mobile_local_code":null,"customer_mobile_number":null,"customer_nickname":null,"customer_notes":null,"created_via_api":true,"customer_city_name":"Rio
        de Janeiro","paid_amount":null,"amount":9.01,"url":"https://sandbox.bole.to/3/kvelmd","formats":{"default":"https://sandbox.bole.to/3/kvelmd","png":"https://sandbox.bole.to/3/kvelmd.png","pdf":"https://sandbox.bole.to/3/kvelmd.pdf","boleto_hibrido":"https://sandbox.bole.to/3/kvelmd/boleto_hibrido","boleto_pix":"https://sandbox.bole.to/3/kvelmd/boleto_pix","barcode":"https://sandbox.bole.to/3/kvelmd/barcode","envelope":"https://sandbox.bole.to/3/kvelmd/envelope","letter":"https://sandbox.bole.to/3/kvelmd/letter","line":"https://sandbox.bole.to/3/kvelmd/line","recibo":"https://sandbox.bole.to/3/kvelmd/recibo"},"meta":null,"fine_for_delay":null,"fine_type":0,"fine_percentage":null,"fine_value":null,"days_for_fine":null,"late_payment_interest":null,"interest_type":0,"interest_daily_value":null,"interest_daily_percentage":null,"interest_monthly_percentage":null,"days_for_interest":null,"discount_type":0,"discount_limit_date":null,"discount_value":null,"discount_percentage":null,"days_for_revoke":null,"notes":null,"payment_count":1,"bank_billet_account_id":5324,"beneficiary_name":"FRANCIELLE
        DE ABREU DA SILVA","beneficiary_cnpj_cpf":"53.861.527/0001-77","beneficiary_address":"Rua
        Iracema Gonsalves Carvalho, 110, 110, Campo de Santana, Curitiba, PR, 81490526","beneficiary_assignor_code":"00017/0000027","guarantor_name":null,"guarantor_cnpj_cpf":null,"payment_place":"Pagável
        em qualquer banco até a data de vencimento.","instructions":null,"document_date":null,"document_type":"02","document_number":null,"acceptance":"N","processed_our_number":"00017/001/0000000015-5","processed_our_number_raw":"0001700100000000155","bank_contract_slug":"example-bank-bs-1","agency_number":"0777","agency_digit":"7","account_number":"0000777","account_digit":"7","extra1":null,"extra1_digit":null,"extra2":null,"extra2_digit":null,"line":"00090.00100
        01000.000008 00000.001552 2 95830000000901","our_number":"000000015","customer_subscription_id":null,"installment_total":null,"installment_number":null,"installment_id":null,"carne_url":null,"bank_billet_layout_id":null,"created_at":"2023-10-30T17:47:24-03:00","updated_at":"2023-10-30T17:47:24-03:00","tags":[],"tag_list":null,"document_type_label":"DM","addons":null,"ignore_email":false,"ignore_sms":false,"ignore_whatsapp":false,"sue_code":null,"revoke_code":null,"first_instruction":null,"second_instruction":null,"guarantor_address_number":null,"guarantor_neighborhood":null,"guarantor_phone_number":null,"guarantor_city_name":null,"guarantor_state":null,"guarantor_zipcode":null,"guarantor_address":null,"guarantor_address_complement":null,"barcode":"00092958300000009010001001000000000000000155","registered_at":"2023-10-30T17:47:24-03:00","prevent_registration":false,"customer_id":747588,"control_number":null,"divergent_payment_type":null,"divergent_payment_value_type":null,"divergent_payment_maximum_value":null,"divergent_payment_minimum_value":null,"divergent_payment_maximum_percentage":null,"divergent_payment_minimum_percentage":null,"divergent_payment_limit":null,"days_for_discount":null,"days_for_second_discount":null,"second_discount_percentage":null,"second_discount_value":null,"days_for_third_discount":null,"third_discount_percentage":null,"third_discount_value":null,"days_for_sue":null,"days_for_negativation":null,"interest_percentage":null,"interest_value":null,"interest_days_type":0,"customer_contact_person":null,"custom_attachment_name":null,"split_payment":false,"dispatch_type":1,"charge_type":1,"custom_data":null,"issued_at":"2023-10-30T17:47:24-03:00","shorten_url":"https://sandbox.bole.to/3/kvelmd","pix_enabled":false,"pix_qrcode":null,"password_protected_mode":null,"revoked_at":null,"recipient_account":null,"pix_txid":null,"cancel_type":null,"cancellation_reason":null,"prevent_pix":false,"reduction_amount":null,"instructions_mode":1,"import_id":null,"reduction_type":null,"reduction_percentage":null,"bank_billet_discharges":[],"bank_billet_remittances":[],"bank_billet_payments":[],"bank_billet_registrations":[{"id":904,"bank_billet_id":613550,"bank_billet_account_id":5324,"created_at":"2023-10-30T17:47:24-03:00","error_message":null,"failed_at":null,"fails_count":0,"registered_at":"2023-10-30T17:47:24-03:00","status":"1","updated_at":"2023-10-30T17:47:24-03:00","retry_blocked":false}],"bank_billet_split_accounts":[],"pix":[]}'
  recorded_at: Tue, 31 Oct 2023 12:40:51 GMT
recorded_with: VCR 6.2.0
