---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.kobana.com.br/v2/financial/accounts/808/statement_transactions/imports
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-c260188158341f92acb618ec76fd8c10\r\nContent-Disposition:
        form-data; name=\"financial_account_uid\"\r\n\r\n808\r\n-------------RubyMultipartPost-c260188158341f92acb618ec76fd8c10\r\nContent-Disposition:
        form-data; name=\"source\"; filename=\"specific-name.json\"\r\nContent-Length:
        17632\r\nContent-Type: application/json\r\nContent-Transfer-Encoding: binary\r\n\r\n[\n
        \ {\n    \"transactionId\": \"3469c3e748689dc994fcf73cb176157d1f460d8c3ebcb6b85007ced34408bd64\",\n
        \   \"completedAuthorisedPaymentType\": \"TRANSACAO_EFETIVADA\",\n    \"creditDebitType\":
        \"CREDITO\",\n    \"transactionName\": \"PIX RECEBIDO   37120745816\",\n    \"type\":
        \"PIX\",\n    \"transactionAmount\": {\n      \"amount\": \"400.0000\",\n
        \     \"currency\": \"BRL\"\n    },\n    \"transactionDateTime\": \"2025-03-10T16:31:09.672Z\",\n
        \   \"partieCnpjCpf\": \"37120745816\",\n    \"partiePersonType\": \"PESSOA_NATURAL\",\n
        \   \"partieCompeCode\": \"336\",\n    \"partieBranchCode\": \"0001\",\n    \"partieNumber\":
        \"00000000000030714318\",\n    \"partieCheckDigit\": \"0\"\n  },\n  {\n    \"transactionId\":
        \"cd932a859b7a560ee1666a812c7c3c29ff6591b3d35e0230e2b3bc359fc7a7b6\",\n    \"completedAuthorisedPaymentType\":
        \"TRANSACAO_EFETIVADA\",\n    \"creditDebitType\": \"CREDITO\",\n    \"transactionName\":
        \"PIX RECEBIDO   23931437000144\",\n    \"type\": \"PIX\",\n    \"transactionAmount\":
        {\n      \"amount\": \"391.0000\",\n      \"currency\": \"BRL\"\n    },\n
        \   \"transactionDateTime\": \"2025-03-10T15:25:20.647Z\[...]
