---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.kobana.com.br/v2/financial/accounts/0197fa81-96f0-78bd-9325-9c181ce6e133/balances
    body:
      encoding: UTF-8
      string: '{"amount":12.34,"financial_account":{"uid":"0197fa81-96f0-78bd-9325-9c181ce6e133"}}'
    headers:
      Authorization:
      - Bearer <KOBANA_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"227bfef1fc89d74e7a9be0cc3f0c7059"
      ratelimit-limit:
      - '10000'
      ratelimit-remaining:
      - '9989'
      x-rack-cors:
      - miss; no-origin
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9989'
    body:
      encoding: UTF-8
      string: '{"status":201,"data":{"uid":"0197fa89-c876-7f65-a94c-2d9953692273","capture_date":null,"amount":12.34,"blocked_amount":null,"automatically_invested_amount":null,"created_at":"2025-07-11T14:30:23-03:00","external_id":null,"custom_data":null,"tags":[],"financial_account":{"uid":"0197fa81-96f0-78bd-9325-9c181ce6e133","status":"complete","bank":{"name":"EXAMPLE
        BANK","bcb_name":"BANCO DE EXEMPLO","number":"000"},"account_number":"2222","account_digit":"3","agency_number":"1111","agency_digit":"8","financial_provider_slug":"example_bank","created_at":"2025-07-11T14:21:26-03:00","updated_at":"2025-07-11T14:30:23-03:00","kind":"checking","custom_name":"Banco
        de exemplo CC: 2222-3","payment_agreement_code":null,"person_info":{"name":"SOFIA
        DE FATIMA GOMES COLEN","document_number":"24.681.966/0001-08"},"tags":[],"tag_list":null,"custom_data":null,"external_id":null}}}'
  recorded_at: Fri, 11 Jul 2025 17:30:23 GMT
- request:
    method: put
    uri: https://api-sandbox.kobana.com.br/v2/financial/accounts/0197fa81-96f0-78bd-9325-9c181ce6e133/balances/0197fa89-c876-7f65-a94c-2d9953692273
    body:
      encoding: UTF-8
      string: '{"uid":"0197fa89-c876-7f65-a94c-2d9953692273","capture_date":null,"amount":56.78,"blocked_amount":null,"automatically_invested_amount":null,"created_at":"2025-07-11T14:30:23-03:00","external_id":null,"custom_data":null,"tags":[],"financial_account":{"uid":"0197fa81-96f0-78bd-9325-9c181ce6e133","status":"complete","bank":{"name":"EXAMPLE
        BANK","bcb_name":"BANCO DE EXEMPLO","number":"000"},"account_number":"2222","account_digit":"3","agency_number":"1111","agency_digit":"8","financial_provider_slug":"example_bank","created_at":"2025-07-11T14:21:26-03:00","updated_at":"2025-07-11T14:30:23-03:00","kind":"checking","custom_name":"Banco
        de exemplo CC: 2222-3","payment_agreement_code":null,"person_info":{"name":"SOFIA
        DE FATIMA GOMES COLEN","document_number":"24.681.966/0001-08"},"tags":[],"tag_list":null,"custom_data":null,"external_id":null},"created":true}'
    headers:
      Authorization:
      - Bearer <KOBANA_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '10000'
      ratelimit-remaining:
      - '9985'
      x-rack-cors:
      - miss; no-origin
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9985'
    body:
      encoding: UTF-8
      string: '{"error":"Not found"}'
  recorded_at: Fri, 11 Jul 2025 17:33:05 GMT
recorded_with: VCR 6.3.1
