---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.kobana.com.br/v2/charge/pix
    body:
      encoding: UTF-8
      string: '{"amount":120.99,"payer":{"document_number":"779.467.060-81","name":"João
        da Silva"},"pix_account_id":101,"expire_at":"2027-12-02T10:03:56-03:00","message":"string","additional_info":{"Chave":"Valor"}}'
    headers:
      Authorization:
      - Bearer <KOBANA_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '18000'
      X-Ratelimit-Remaining:
      - '17996'
      Ratelimit-Limit:
      - '18000'
      Ratelimit-Remaining:
      - '17996'
      Etag:
      - W/"3459d9401875c56b3f959882ed0206bf"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"status":201,"data":{"id":9792,"txid":null,"status":"opened","registration_status":"pending","pix_account_id":101,"created_at":"2025-01-03T17:14:01-03:00","updated_at":"2025-01-03T17:14:01-03:00","expire_at":"2027-12-02T10:03:56-03:00","canceled_at":null,"registered_at":null,"amount":120.99,"additional_info":{"Chave":"Valor"},"command_ids":[132955],"message":"string","message_payer":null,"qrcode":{"emv":null,"png":null},"payer":{"document_number":"779.467.060-81","name":"João
        da Silva"},"url":"https://sandbox.kdoc.to/1/LXUSysOdVasY","formats":{"default":{"html":"https://sandbox.kdoc.to/1/LXUSysOdVasY","png":"https://sandbox.kdoc.to/1/LXUSysOdVasY.png","pdf":"https://sandbox.kdoc.to/1/LXUSysOdVasY.pdf"},"qrcode":{"html":"https://sandbox.kdoc.to/1/LXUSysOdVasY/qrcode","png":"https://sandbox.kdoc.to/1/LXUSysOdVasY/qrcode.png","pdf":"https://sandbox.kdoc.to/1/LXUSysOdVasY/qrcode.pdf"}},"paid_amount":null,"paid_at":null,"end_to_end_id":null,"beneficiary":{"name":"Jota
        ka SA","document_number":"19.657.429/0001-84","addresses":[{"street":"Rua
        Quatro","number":"9","complement":"","neighborhood":"CPA III","state":"MT","city_name":"Cuiabá","zip_code":"78058330"}],"document_type":"CNPJ","kind":"juridical","classification":"person"},"custom_data":null,"ignore_whatsapp":false,"interest":{"type":null,"amount":null,"percentage":null},"discounts":{"type":null,"discount_first":{"amount":null,"percentage":null,"days":null},"discount_second":{"amount":null,"percentage":null,"days":null},"discount_third":{"amount":null,"percentage":null,"days":null}},"reduction":{"type":"none","amount":null,"percentage":null},"fine":{"type":null,"amount":null,"percentage":null},"created_via_api":true,"financial_provider_external_id":null}}'
  recorded_at: Fri, 03 Jan 2025 20:14:01 GMT
recorded_with: VCR 6.3.1
