---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.kobana.com.br/v2/charge/pix
    body:
      encoding: UTF-8
      string: '{"amount":120.99,"payer":{"document_number":"779.467.060-81","name":"João
        da Silva"},"pix_account_id":112,"expire_at":"2024-12-02T10:03:56-03:00","message":"string","additional_info":{"Chave":"Valor"}}'
    headers:
      Authorization:
      - Bearer <KOBANA_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      Etag:
      - W/"ec0aaa63c37f2c0c546574eeee8afe65"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"status":201,"data":{"id":3292,"txid":null,"status":"opened","registration_status":"pending","pix_account_id":112,"created_at":"2023-10-30T16:37:12-03:00","expire_at":"2024-12-02T10:03:56-03:00","canceled_at":null,"registered_at":null,"amount":120.99,"additional_info":{"Chave":"Valor"},"command_ids":[54662],"message":"string","message_payer":null,"qrcode":{"emv":null,"png":null},"payer":{"document_number":"779.467.060-81","name":"João
        da Silva"},"url":"https://sandbox.kdoc.to/1/Gx709sNH0Zt8","formats":{"default":{"html":"https://sandbox.kdoc.to/1/Gx709sNH0Zt8","png":"https://sandbox.kdoc.to/1/Gx709sNH0Zt8.png","pdf":"https://sandbox.kdoc.to/1/Gx709sNH0Zt8.pdf"},"qrcode":{"html":"https://sandbox.kdoc.to/1/Gx709sNH0Zt8/qrcode","png":"https://sandbox.kdoc.to/1/Gx709sNH0Zt8/qrcode.png","pdf":"https://sandbox.kdoc.to/1/Gx709sNH0Zt8/qrcode.pdf"}},"paid_amount":null,"paid_at":null,"end_to_end_id":null,"beneficiary":{"name":"francielle","address":{"state":"PR","number":"78","street":"Rua
        Iracema Gonsalves Carvalho","zip_code":"81490526","city_name":"Curitiba","complement":"","neighborhood":"Campo
        de Santana"},"document_number":"24455535000115"},"custom_data":null,"ignore_whatsapp":false}}'
  recorded_at: Mon, 30 Oct 2023 19:37:12 GMT
recorded_with: VCR 6.2.0
