---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v2/charge/pix//commands
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'Bearer '
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rack-cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"status":401,"errors":[{"title":"Token de API inválido (Servidor:
        sandbox)","code":"unauthorized","detail":"O Token de API é diferente para
        cada Servidor/URL, mais em https://developers.kobana.com.br/reference/token-de-acesso"}]}'
  recorded_at: Tue, 27 May 2025 14:41:03 GMT
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v2/charge/pix//commands/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'Bearer '
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rack-cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"status":401,"errors":[{"title":"Token de API inválido (Servidor:
        sandbox)","code":"unauthorized","detail":"O Token de API é diferente para
        cada Servidor/URL, mais em https://developers.kobana.com.br/reference/token-de-acesso"}]}'
  recorded_at: Tue, 27 May 2025 14:41:04 GMT
recorded_with: VCR 6.3.1
