---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v2/charge/pix//commands
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'Bearer '
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      x-rack-cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"status": 200,"data": [{"id": 6,"status": "pending","operation": "update","params": {"amount": 100,"expire_at": "2025-06-06T01:33:21+00:00"},"payload": null,"created_at": "2025-05-27T01:33:21+00:00","updated_at": "2025-05-27T01:33:21+00:00","message": null,"error_message": null,"warning_message": null,"pix": {"id": 59,"uid": "01970f5f-6ce6-7e39-8b51-90ba616ca06c","txid": null,"status": "opened","registration_status": "pending","pix_account_id": 79,"created_at": "2025-05-27T01:33:21+00:00","updated_at": "2025-05-27T01:33:21+00:00","expire_at": "2025-05-30T00:00:00+00:00","canceled_at": null,"registered_at": null,"amount": 25,"additional_info": {},"command_ids": [6],"message": "MyText","message_payer": null,"qrcode": {"emv": null,"png": null},"payer": {"name": "José da Silva","document_number": "39988107226"},"url": "http://dev.kdoc.to:5001/1/oOa7B1xaFoEN","formats": {"default": {"html": "http://dev.kdoc.to:5001/1/oOa7B1xaFoEN","png": "http://dev.kdoc.to:5001/1/oOa7B1xaFoEN.png","pdf": "http://dev.kdoc.to:5001/1/oOa7B1xaFoEN.pdf"},"qrcode": {"html": "http://dev.kdoc.to:5001/1/oOa7B1xaFoEN/qrcode","png": "http://dev.kdoc.to:5001/1/oOa7B1xaFoEN/qrcode.png","pdf": "http://dev.kdoc.to:5001/1/oOa7B1xaFoEN/qrcode.pdf"}},"paid_amount": null,"paid_at": null,"end_to_end_id": null,"beneficiary": {},"custom_data": null,"ignore_whatsapp": false,"interest": {"type": null,"amount": null,"percentage": null},"discounts": {"type": null,"discount_first": {"amount": null,"percentage": null,"days": null},"discount_second": {"amount": null,"percentage": null,"days": null},"discount_third": {"amount": null,"percentage": null,"days": null}},"reduction": {"type": "none","amount": null,"percentage": null},"fine": {"type": null,"amount": null,"percentage": null},"created_via_api": false,"financial_provider_external_id": null,"tags": [],"tag_list": null}}],"pagination": {"prev_url": "/v2/charge/pix/59/commands?page=&per_page=50","next_url": "/v2/charge/pix/59/commands?page=&per_page=50","page": 1}}'
  recorded_at: Tue, 27 May 2025 14:44:12 GMT
recorded_with: VCR 6.3.1
