---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v2/charge/pix
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <KOBANA_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      Ratelimit-Limit:
      - '100'
      Ratelimit-Remaining:
      - '97'
      Etag:
      - W/"c48479f89e6eba57874269204ce54240"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"id":9792,"txid":null,"status":"opened","registration_status":"pending","pix_account_id":101,"created_at":"2025-01-03T17:14:01-03:00","updated_at":"2025-01-03T17:14:01-03:00","expire_at":"2027-12-02T10:03:56-03:00","canceled_at":null,"registered_at":null,"amount":120.99,"additional_info":{"Chave":"Valor"},"command_ids":[132955],"message":"string","message_payer":null,"qrcode":{"emv":null,"png":null},"payer":{"name":"João
        da Silva","document_number":"779.467.060-81"},"url":"https://sandbox.kdoc.to/1/LXUSysOdVasY","formats":{"default":{"html":"https://sandbox.kdoc.to/1/LXUSysOdVasY","png":"https://sandbox.kdoc.to/1/LXUSysOdVasY.png","pdf":"https://sandbox.kdoc.to/1/LXUSysOdVasY.pdf"},"qrcode":{"html":"https://sandbox.kdoc.to/1/LXUSysOdVasY/qrcode","png":"https://sandbox.kdoc.to/1/LXUSysOdVasY/qrcode.png","pdf":"https://sandbox.kdoc.to/1/LXUSysOdVasY/qrcode.pdf"}},"paid_amount":null,"paid_at":null,"end_to_end_id":null,"beneficiary":{"kind":"juridical","name":"Jota
        ka SA","addresses":[{"state":"MT","number":"9","street":"Rua Quatro","zip_code":"78058330","city_name":"Cuiabá","complement":"","neighborhood":"CPA
        III"}],"document_type":"CNPJ","classification":"person","document_number":"19.657.429/0001-84"},"custom_data":null,"ignore_whatsapp":false,"interest":{"type":null,"amount":null,"percentage":null},"discounts":{"type":null,"discount_first":{"amount":null,"percentage":null,"days":null},"discount_second":{"amount":null,"percentage":null,"days":null},"discount_third":{"amount":null,"percentage":null,"days":null}},"reduction":{"type":"none","amount":null,"percentage":null},"fine":{"type":null,"amount":null,"percentage":null},"created_via_api":true,"financial_provider_external_id":null},{"id":9791,"txid":null,"status":"opened","registration_status":"pending","pix_account_id":101,"created_at":"2025-01-03T17:13:39-03:00","updated_at":"2025-01-03T17:13:39-03:00","expire_at":"2027-12-02T10:03:56-03:00","canceled_at":null,"registered_at":null,"amount":120.99,"additional_info":{"Chave":"Valor"},"command_ids":[132954],"message":"string","message_payer":null,"qrcode":{"emv":null,"png":null},"payer":{"name":"João
        da Silva","document_number":"779.467.060-81"},"url":"https:/[...]
