---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.kobana.com.br/v2/financial/accounts
    body:
      encoding: UTF-8
      string: '{"uid":"0196f5e5-dd65-7322-9f36-c3979af436b7","account_number":"00000000000000024618560","account_digit":"3","agency_number":"79731","agency_digit":"3","financial_provider_slug":"sicoob","kind":"checking","person_info":{"name":"Margret
        Santos Filgueiras","document_number":"864.668.358-39"},"bank_id":"206","custom_name":"Bancoob/Sicoob
        CC: 81519387-3"}'
    headers:
      Authorization:
      - Bearer qrGhmFpdolCi6zJMWJcGog7Owo8H5k7ELOV3BMdrRJs
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '999'
      ratelimit-limit:
      - '1000'
      ratelimit-remaining:
      - '999'
      etag:
      - W/"5d766cf74d1b9c468a1af285a1c362cf"
      x-rack-cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"status":201,"data":{"uid":"019711df-3686-7d11-b998-cf6bd649f730","account_number":"00000000000000024618560","account_digit":"3","agency_number":"79731","agency_digit":"3","financial_provider_slug":"sicoob","bank_id":206,"created_at":"2025-05-27T10:12:10-03:00","updated_at":"2025-05-27T10:12:10-03:00","kind":"checking","current_balance":0.0,"custom_name":"Bancoob/Sicoob
        CC: 81519387-3","payment_agreement_code":null,"person_info":{"document_number":"864.668.358-39","name":"Margret
        Santos Filgueiras"},"tags":[],"tag_list":null,"custom_data":null,"external_id":null}}'
  recorded_at: Tue, 27 May 2025 13:12:10 GMT
recorded_with: VCR 6.3.1
