---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v2/financial/accounts/019738bc-2f45-7a5f-9267-fa6efbcaf3d5/commands
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <KOBANA_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9983'
      ratelimit-limit:
      - '10000'
      ratelimit-remaining:
      - '9983'
      x-rack-cors:
      - miss; no-origin
      etag:
      - W/"a6eb0329ed439092143cab4bc4c030d9"
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[],"pagination":{"prev_url":"/api/v2/financial/accounts/019738bc-2f45-7a5f-9267-fa6efbcaf3d5/commands?page=\u0026per_page=50","next_url":"/api/v2/financial/accounts/019738bc-2f45-7a5f-9267-fa6efbcaf3d5/commands?page=\u0026per_page=50","page":1}}'
  recorded_at: Wed, 04 Jun 2025 02:21:46 GMT
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v2/financial/accounts/019738bc-2f45-7a5f-9267-fa6efbcaf3d5/commands/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <KOBANA_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9982'
      ratelimit-limit:
      - '10000'
      ratelimit-remaining:
      - '9982'
      etag:
      - W/"a6eb0329ed439092143cab4bc4c030d9"
      x-rack-cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[],"pagination":{"prev_url":"/api/v2/financial/accounts/019738bc-2f45-7a5f-9267-fa6efbcaf3d5/commands?page=\u0026per_page=50","next_url":"/api/v2/financial/accounts/019738bc-2f45-7a5f-9267-fa6efbcaf3d5/commands?page=\u0026per_page=50","page":1}}'
  recorded_at: Wed, 04 Jun 2025 02:21:46 GMT
recorded_with: VCR 6.3.1
