---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v2/financial/accounts/external9999?field=external_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <KOBANA_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9985'
      ratelimit-limit:
      - '10000'
      ratelimit-remaining:
      - '9985'
      x-rack-cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"status":404,"errors":[{"title":"Não foi possível encontrar o registro","code":"not_found","detail":"Este
        registro não existe, ou foi deletado."}]}'
  recorded_at: Wed, 04 Jun 2025 02:20:19 GMT
recorded_with: VCR 6.3.1
