---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v2/financial/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <KOBANA_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9987'
      ratelimit-limit:
      - '10000'
      ratelimit-remaining:
      - '9987'
      etag:
      - W/"624d87915be0790813a269556a4e1c50"
      x-rack-cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"uid":"019738bc-2f45-7a5f-9267-fa6efbcaf3d5","account_number":"00000000000000024618560","account_digit":"3","agency_number":"79731","agency_digit":"3","financial_provider_slug":"sicoob","bank_id":206,"created_at":"2025-06-03T23:19:06-03:00","updated_at":"2025-06-03T23:19:06-03:00","kind":"checking","current_balance":0.0,"custom_name":"Bancoob/Sicoob
        CC: 81519387-3","payment_agreement_code":null,"person_info":{"name":"Margret
        Santos Filgueiras","document_number":"864.668.358-39"},"tags":[],"tag_list":null,"custom_data":null,"external_id":"external9999"},{"uid":"018e0465-2513-78f6-8bd2-a7ff10768ad7","account_number":"09116","account_digit":"6","agency_number":"9661","agency_digit":"0","financial_provider_slug":"itau","bank_id":null,"created_at":"2022-09-13T13:59:02-03:00","updated_at":"2024-09-24T11:16:04-03:00","kind":"checking","current_balance":-1870.0,"custom_name":"Itaú
        CC: 9116-6","payment_agreement_code":null,"person_info":{},"tags":[],"tag_list":null,"custom_data":null,"external_id":null}],"pagination":{"prev_url":"/api/v2/financial/accounts?page=\u0026per_page=50","next_url":"/api/v2/financial/accounts?page=\u0026per_page=50","page":1}}'
  recorded_at: Wed, 04 Jun 2025 02:19:55 GMT
recorded_with: VCR 6.3.1
