---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v2/financial/accounts/019711df-38ad-7c89-9611-4ba61ce08b54/commands
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <KOBANA_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '57'
      ratelimit-limit:
      - '60'
      ratelimit-remaining:
      - '57'
      etag:
      - W/"6611e7cf9771558953703f07d526ebc8"
      x-rack-cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"status": 200,"data": [{"id": 8,"status": "pending","operation": "statement_sync","params": {},"payload": null,"created_at": "2025-05-25T21:36:25+08:00","updated_at": "2025-05-25T21:36:25+08:00","message": null,"error_message": null,"warning_message": null}],"pagination": {"prev_url": "/v2/financial/accounts/019707a8-b1e4-796b-8afe-12379238e1eb/commands?page=&per_page=50","next_url": "/v2/financial/accounts/019707a8-b1e4-796b-8afe-12379238e1eb/commands?page=&per_page=50","page": 1}}'
  recorded_at: Tue, 27 May 2025 13:12:12 GMT
recorded_with: VCR 6.3.1
