---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v2/financial/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer qrGhmFpdolCi6zJMWJcGog7Owo8H5k7ELOV3BMdrRJs
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '59'
      ratelimit-limit:
      - '60'
      ratelimit-remaining:
      - '59'
      etag:
      - W/"cdff67532bc61a088ee339b4deff347a"
      x-rack-cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"uid":"019711df-38ad-7c89-9611-4ba61ce08b54","account_number":"00000000075506467","account_digit":"3","agency_number":"19426","agency_digit":"3","financial_provider_slug":"sicoob","bank_id":206,"created_at":"2025-05-27T10:12:11-03:00","updated_at":"2025-05-27T10:12:11-03:00","kind":"checking","current_balance":0.0,"custom_name":"Bancoob/Sicoob
        CC: 81519387-3","payment_agreement_code":null,"person_info":{"name":"Margret
        Santos Filgueiras","document_number":"864.668.358-39"},"tags":[],"tag_list":null,"custom_data":null,"external_id":null},{"uid":"019711df-3686-7d11-b998-cf6bd649f730","account_number":"00000000000000024618560","account_digit":"3","agency_number":"79731","agency_digit":"3","financial_provider_slug":"sicoob","bank_id":206,"created_at":"2025-05-27T10:12:10-03:00","updated_at":"2025-05-27T10:12:10-03:00","kind":"checking","current_balance":0.0,"custom_name":"Bancoob/Sicoob
        CC: 81519387-3","payment_agreement_code":null,"person_info":{"name":"Margret
        Santos Filgueiras","document_number":"864.668.35[...]
