---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v2/admin/subaccounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <KOBANA_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9994'
      ratelimit-limit:
      - '10000'
      ratelimit-remaining:
      - '9994'
      etag:
      - W/"8f8c157a3dd1d2781192f8a7079eaf54"
      x-rack-cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"id":4487,"email":null,"account_type":"juridical","gender":null,"cpf":null,"address_street_name":null,"address_state":null,"address_neighborhood":null,"address_postal_code":null,"address_number":null,"address_complement":null,"phone_number":null,"first_name":null,"middle_name":null,"last_name":null,"date_of_birth":null,"business_category":null,"business_subcategory":null,"business_website":null,"business_name":null,"business_legal_name":null,"business_type":null,"business_cnpj":"11.582.603/0001-65","address_city_name":null,"full_name":null,"mother_name":null,"father_name":null,"configuration":null,"simple_opting":false,"parent_id":10,"created_via_api":true,"api_access_token":"REDACTED_TOKEN_3","nickname":"Subconta
        4357","created_at":"2025-06-04T14:39:15-03:00","updated_at":"2025-06-04T14:39:15-03:00","external_id":null,"custom_data":null,"tags":[],"tag_list":null},{"id":4486,"email":null,"account_type":"juridical","gender":null,"cpf":null,"address_street_name":null,"address_state":null,"address_neighborhood":null,"address_postal_code":null,"address_number":null,"address_complement":null,"phone_number":null,"first_name":null,"middle_name":null,"last_name":null,"date_of_birth":null,"business_category":null,"business_subcategory":null,"business_website":null,"business_name":null,"business_legal_name":null,"business_type":null,"business_cnpj":"69.534.73[...]
