---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.kobana.com.br/v2/admin/subaccounts
    body:
      encoding: UTF-8
      string: '{"email":"usuario@example.com","account_type":"juridical","business_legal_name":"Empresa
        LTDA","business_cnpj":"12.345.678/0001-95","nickname":"Empresa","users":[{"email":"empresa@example.com"}]}'
    headers:
      Authorization:
      - Bearer LoFyLIgVjEm7m6K66zAqIkahhBC8orCXwpS4eiesN_g
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Content
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '967'
      ratelimit-limit:
      - '1000'
      ratelimit-remaining:
      - '967'
      x-rack-cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"status":422,"errors":[{"code":"validation_error","param":"business_cnpj","detail":"CNPJ
        da Empresa não é válido"},{"code":"validation_error","param":"email","detail":"E-mail
        não é válido"},{"code":"validation_error","param":"users","detail":"Users
        não é válido"}]}'
  recorded_at: Wed, 28 May 2025 19:58:20 GMT
recorded_with: VCR 6.3.1
