---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.kobana.com.br/v2/admin/subaccounts
    body:
      encoding: UTF-8
      string: '{"email":"usuario1717@kobana.com.br","account_type":"juridical","business_legal_name":"Empresa
        LTDA","business_cnpj":"92.051.295/0001-43","nickname":"Empresa","users":[{"email":"empresa@example.com"}]}'
    headers:
      Authorization:
      - Bearer <KOBANA_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9990'
      ratelimit-limit:
      - '10000'
      ratelimit-remaining:
      - '9990'
      etag:
      - W/"0f4a46b6932f347bb632dbf9c103b45f"
      x-rack-cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"status":201,"data":{"id":4483,"email":"usuario1717@kobana.com.br","account_type":"juridical","gender":null,"cpf":null,"address_street_name":null,"address_state":null,"address_neighborhood":null,"address_postal_code":null,"address_number":null,"address_complement":null,"phone_number":null,"first_name":null,"middle_name":null,"last_name":null,"date_of_birth":null,"business_category":null,"business_subcategory":null,"business_website":null,"business_name":null,"business_legal_name":"Empresa
        LTDA","business_type":null,"business_cnpj":"92.051.295/0001-43","address_city_name":null,"full_name":null,"mother_name":null,"father_name":null,"configuration":null,"simple_opting":false,"parent_id":10,"created_via_api":true,"api_access_token":"60h9zqBBe6congOAfpRRP_9HwIWNhbts8Pmy70AE2gs","nickname":"Empresa","created_at":"2025-06-03T23:41:46-03:00","updated_at":"2025-06-03T23:41:46-03:00","external_id":null,"custom_data":null,"tags":[],"tag_list":null}}'
  recorded_at: Wed, 04 Jun 2025 02:41:46 GMT
recorded_with: VCR 6.3.1
