---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.kobana.com.br/v2/admin/subaccounts
    body:
      encoding: UTF-8
      string: '{"email":"usuario@example.com","account_type":"juridical","business_legal_name":"Empresa
        LTDA","business_cnpj":"12.345.678/0001-95","nickname":"Empresa","users":[{"email":"empresa@example.com"}]}'
    headers:
      Authorization:
      - Bearer <KOBANA_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '971'
      ratelimit-limit:
      - '1000'
      ratelimit-remaining:
      - '971'
      etag:
      - W/"b1a3ff7ab3b60677d1369d77536f20a7"
      x-rack-cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"status":201,"data":{"id":4477,"email":"usuario@example.com","account_type":"juridical","gender":null,"cpf":null,"address_street_name":null,"address_state":null,"address_neighborhood":null,"address_postal_code":null,"address_number":null,"address_complement":null,"phone_number":null,"first_name":null,"middle_name":null,"last_name":null,"date_of_birth":null,"business_category":null,"business_subcategory":null,"business_website":null,"business_name":null,"business_legal_name":"Empresa
        LTDA","business_type":null,"business_cnpj":"12.345.678/0001-95","address_city_name":null,"full_name":null,"mother_name":null,"father_name":null,"configuration":null,"simple_opting":false,"parent_id":4001,"created_via_api":true,"api_access_token":"sfSE2qwvbIlmuiwWdmn-GI96dHyf1NeHs8ZoT3E8l7Y","nickname":"Empresa","created_at":"2025-05-28T16:39:43-03:00","updated_at":"2025-05-28T16:39:43-03:00","external_id":null,"custom_data":null,"tags":[],"tag_list":null}}'
  recorded_at: Wed, 28 May 2025 19:39:44 GMT
recorded_with: VCR 6.3.1
