---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v2/admin/subaccounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <KOBANA_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9969'
      ratelimit-limit:
      - '10000'
      ratelimit-remaining:
      - '9969'
      etag:
      - W/"ad60ac6d6656a3615405305f27b7aec4"
      x-rack-cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '{"status":200,"data":[{"id":4483,"email":"usuario1717@kobana.com.br","account_type":"juridical","gender":null,"cpf":null,"address_street_name":null,"address_state":null,"address_neighborhood":null,"address_postal_code":null,"address_number":null,"address_complement":null,"phone_number":null,"first_name":null,"middle_name":null,"last_name":null,"date_of_birth":null,"business_category":null,"business_subcategory":null,"business_website":null,"business_name":null,"business_legal_name":"Empresa
        LTDA","business_type":null,"business_cnpj":"92.051.295/0001-43","address_city_name":null,"full_name":null,"mother_name":null,"father_name":null,"configuration":null,"simple_opting":false,"parent_id":10,"created_via_api":true,"api_access_token":"REDACTED_TOKEN_1","nickname":"Empresa","created_at":"2025-06-03T23:41:46-03:00","updated_at":"2025-06-03T23:41:46-03:00","external_id":null,"custom_data":null,"tags":[],"tag_list":null},{"id":4482,"email":"usuario3314@kobana.com.br","account_type":"juridical","gender":null,"cpf":null,"address_street_name":null,"address_state":null,"address_neighborhood":null,"address_postal_code":null,"address_number":null,"address_complement":null,"phone_number":null,"first_name":null,"middle_name":null,"last_name":null,"date_of_birth":null,"business_category":null,"business_subcategory":null,"business_website":null,"business_name":null,"business_legal_name":"Empresa
        LTDA","busin[...]
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v2/admin/subaccounts/4483
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <KOBANA_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9968'
      ratelimit-limit:
[...]
