---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.kobana.com.br/v1/bank_billets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <KOBANA_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Per-Page:
      - '50'
      Page:
      - '1'
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      Ratelimit-Limit:
      - '100'
      Ratelimit-Remaining:
      - '99'
      Etag:
      - W/"e385abf62f263adc1389361d4e897a2d"
      X-Rack-Cors:
      - miss; no-origin
    body:
      encoding: UTF-8
      string: '[{"id":682178,"uid":"01942da1-4b96-7ecf-aaab-c791b8e110ab","expire_at":"2027-01-04","paid_at":null,"description":"Despesas
        do contrato 0012","status":"opened","registration_status":"pending","customer_person_name":"Joao
        da Silva","customer_cnpj_cpf":"34.565.715/0001-03","customer_address":"Rua
        quinhentos","customer_state":"RJ","customer_neighborhood":"Sao Francisco","customer_zipcode":"12312123","customer_address_number":"111","customer_address_complement":"Sala
        4","customer_phone_number":"2112123434","customer_email":"cliente@example.com","customer_email_cc":null,"customer_ignore_email":null,"customer_ignore_sms":null,"customer_mobile_local_code":null,"customer_mobile_number":null,"customer_nickname":null,"customer_notes":null,"created_via_api":true,"customer_city_name":"Rio
        de Janeiro","paid_amount":null,"amount":9.01,"url":"https://sandbox.bole.to/3/mjxojx","formats":{"default":"https://sandbox.bole.to/3/mjxojx","png":"https://sandbox.bole.to/3/mjxojx.png","pdf":"https://sandbox.bole.to/3/mjxojx.pdf","boleto_hibrido":"https://sandbox.bole.to/3/mjxojx/boleto_hibrido","boleto_pix":"https://sandbox.bole.to/3/mjxojx/boleto_pix","barcode":"https://sandbox.bole.to/3/mjxojx/barcode","envelope":"https://sandbox.bole.to/3/mjxojx/envelope","letter":"https://sandbox.bole.to/3/mjxojx/letter","line":"https://sandbox.bole.to/3/mjxojx/line","recibo":"https://sandbox.bole.to/3/mjxojx/recibo"},"meta":null,"fine_for_delay":null,"fine_type":0,"fine_percentage":null,"fine_value":null,"days_for_fine":null,"late_payment_interest":null,"interest_type":0,"interest_daily_value":null,"interest_daily_percentage":null,"interest_monthly_percentage":null,"days_for_interest":null,"discount_type":0,"discount_limit_date":null,"discount_value":null,"discount_percentage":null,"days_for_revoke":null,"notes":null,"payment_count":1,"bank_billet_account_id":659,"beneficiary_name":"Kivanio
        Pereira Barbosa","beneficiary_cnpj_cpf":"000.233.771-19","beneficiary_address":"Rua
        Quatro, 9, 78058-330","beneficiary_assignor_code":"0001/123322-0","guarantor_name":null,"guarantor_cnpj_cpf":null,"payment_place":"Pagável
        em qualquer banco até a data de vencimento.","instructions":null,"document_date":null,"document_type":"02","document_number":null,"acceptance":"N","processed_our_number":"14000000000000337-4","processed_our_number_raw":"140000000000003374","bank_contract_slug":"caixa-rg","agency_number":"2342","agency_digit":"2","account_number":"0012432","account_digit":"1","extra1":"0123322","extra1_digit":null,"extra2":null,"extra2_digit":null,"line":"10491.23324
        20000.100048 00000.033779 1 16810000000901","our_number":"337","customer_subscription_id":null,"installment_total":null,"installment_number":null,"installment_id":null,"carne_url":null,"bank_billet_layout_id":null,"created_at":"2025-01-03T16:25:32-03:00","updated_at":"2025-01-03T16:25:33-03:00","tags":[],"tag_list":null,"document_type_label":"DM","addons":null,"ignore_email":false,"ignore_sms":false,"ignore_whatsapp":false,"sue_code":null,"revoke_code":null,"first_instruction":null,"second_instruction":null,"guarantor_address_number":null,"guarantor_neighborhood":null,"guarantor_phone_number":null,"guarantor_city_name":null,"guarantor_state":null,"guarantor_zipcode":null,"guarantor_address":null,"guarantor_address_complement":null,"barcode":"10491168100000009011233220000100040000003377","registered_at":null,"prevent_registration":false,"customer_id":763469,"control_number":null,"divergent_payment_type":null,"divergent_payment_value_type":null,"divergent_payment_maximum_value":null,"divergent_payment_minimum_value":null,"divergent_payment_maximum_percentage":null,"divergent_payment_minimum_percentage":null,"divergent_payment_limit":null,"days_for_discount":null,"days_for_second_discount":null,"second_discount_percentage":null,"second_discount_value":null,"days_for_third_discount":null,"third_discount_percentage":null,"third_discount_value":null,"days_for_sue":null,"days_for_negativation":null,"interest_percentage":null,"interest_value":null,"interest_days_type":0,"customer_contact_person":null,"custom_attachment_name":null,"split_payment":false,"dispatch_type":1,"charge_type":1,"custom_data":null,"issued_at":"2025-01-03T16:25:32-03:00","shorten_url":"https://sandbox.bole.to/3/mjxojx","pix_enabled":false,"pix_qrcode":null,"password_protected_mode":null,"revoked_at":null,"recipient_account":null,"pix_txid":null,"cancel_type":null,"cancellation_reason":null,"prevent_pix":false,"reduction_amount":null,"instructions_mode":1,"import_id":null,"reduction_type":3,"reduction_percentage":null,"url_hash":"mjxojx","financial_provider_external_id":null,"days_for_sue_type":null,"credit_bureau":null,"after_create":[],"bank_billet_discharges":[],"bank_billet_remittances":[],"bank_billet_payments":[],"bank_billet_registrations":[],"bank_billet_split_accounts":[],"pix":[]},{"id":682177,"uid":"01942da1-48f0-7449-a6ba-4d5827e8dc44","expire_at":"2027-01-04","paid_at":null,"description":"Despesas
        do contrato 0012","status":"opened","registration_status":"pending","customer_person_name":"Joao
        da Silva","customer_cnpj_cpf":"34.565.715/0001-03","customer_address":"Rua
        quinhentos","customer_state":"RJ","customer_neighborhood":"Sao Francisco","customer_zipcode":"12312123","customer_address_number":"111","customer_address_complement":"Sala
      [...]
